.all-matches-link {
  padding: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #475569;
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
}

.team-card {
  width: 35%;
  margin-right: 15px;
  margin-bottom: 15px;
}

.team-logo {
  height: 80px;
  width: 80px;
  margin-right: 15px;
}

.team-name {
  font-family: 'Bree serif';
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .team-name {
    font-size: 13px;
  }
  .team-logo {
    height: 40px;
    width: 40px;
  }
}
.team-matches-link {
  width: 100%;
  height: 300px;
}
